<a href="https://colab.research.google.com/github/nv-github1/my-repo1/blob/master/Dataframes_Intro_Sep25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#create a series from a

data_1 = [10,20,30,40,50,60,70,80,90,100]
series_1 = pd.Series(data_1)
print(series_1)

#create series with custom index

series_2 = pd.Series(data_1, index = ['a','b','c','d','e','f','g','h','i','j'])
print(series_2)


# create series from dictionary

data_3 = {'alice':10, 'bob':20, 'claire':30, 'dave':40, 'elena':50}
series_3 = pd.Series(data_3)
print(series_3)


# using dataframe
#initialize an empty dataframe

df = pd.DataFrame(columns=['Student', 'Score'])

#func to add new student

def add_student(df, name, score):
    new_id = f"S{len(df)+1:03d}"
    df.loc[len(df)] = [name, score]
    return df

#add students

df = add_student(df, 'Alice', 90)
df = add_student(df, 'Bob', 88)
df = add_student(df, 'Charlie', 72)
df = add_student(df, 'David', 98)
df = add_student(df, 'Elaine', 66)

print(df)

# add columns
df['Grade'] = ['B', 'C', 'A', 'A', 'D']

print("\nWith new column:\n", df)



print ("max score: " , df['Score'].max())
print("mean score:", df['Score'].mean())
print("min score:", df['Score'].min())
print("median score:", df['Score'].median())
print("standard deviation:", df['Score'].std())

print("Description : \n", df.describe())

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64
alice     10
bob       20
claire    30
dave      40
elena     50
dtype: int64
   Student  Score
0    Alice     90
1      Bob     88
2  Charlie     72
3    David     98
4   Elaine     66

With new column:
    Student  Score Grade
0    Alice     90     B
1      Bob     88     C
2  Charlie     72     A
3    David     98     A
4   Elaine     66     D
max score:  98
mean score: 82.8
min score: 66
median score: 88.0
standard deviation: 13.311649033834989
Description :
            Score
count   5.000000
mean   82.800000
std    13.311649
min    66.000000
25%    72.000000
50%    88.000000
75%    90.000000
max    98.000000